<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--  Прописываем пакет для сканирования Spring  -->
    <context:component-scan base-package="skypro.spring" />

    <!--  Этот тег необходим для доступа к различным манипуляциям в расках Spring MVC  -->
    <mvc:annotation-driven/>

    <!-- Создаем бин такой сущности, как ViewResolver,
         в рамках которого мы указываем, какие строки необходимо спрингу
         неявно добавлять, когда мы прописываем название необходимого отображения -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>